In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Data to pandas Dataframe
credit_card_data=pd.read_csv('/content/credit_data.csv')

In [3]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [5]:
credit_card_data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#checking the number of null or missing values in each columns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#in the column named "class" has two values 0 and 1
# 0 means valid/Legit/normal transaction
# 1 means frdulent transaction

#Here we find the number of transaction which are legit and fraud

credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [11]:
#There are 284315 legit and 492 fraud transaction

In [12]:
# separate The Dataset into valid and fraud subDataset

legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Now we can see that there is Noticible Diffreence in the mean value in legit and fraud subDataSet

In [16]:
# compare the all column values of the main data set wrt to the 0 and 1 entry of the Class colum

credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Warning: Total number of columns (30) exceeds max_columns (20) limiting to first (20) columns.

# **bold text**
For the Accurate data training and prediction we need the the similar distribution of both data for the legit and Fraud

so for this , we come to know that  no. Fraud is 492 so we take 492 legit transaction and combine them.

In [17]:
legit_sample=legit.sample(n=492)
# Fraud sample / data is already made in the fraud varible

In [18]:
new_dataset=pd.concat([legit_sample,fraud], axis=0)  # [dataset1,dataset2]

In [19]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
264152  161291.0 -0.519936  1.201563  ...  0.162872   36.75      0
254765  156904.0 -0.019174  0.491634  ...  0.032865    4.29      0
50202    44390.0  1.010123 -0.326591  ...  0.018601   16.53      0
133243   80304.0  1.255958  0.323309  ...  0.029902    1.79      0
131686   79698.0 -0.889235  0.245402  ... -0.034928   49.90      0

[5 rows x 31 columns]

In [20]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [21]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [25]:
#Spiting the data into the Input and Output
# X -> MODEL -> Y
# X input parameter and Y the output Label
#Given (X)  Predict (Y)
X=new_dataset.drop(columns='Class',axis=1) #axis=1 means removing the colum( vertically)
Y=new_dataset['Class']

print(X)
# X.head()

            Time        V1        V2  ...       V27       V28  Amount
264152  161291.0 -0.519936  1.201563  ...  0.281112  0.162872   36.75
254765  156904.0 -0.019174  0.491634  ... -0.100717  0.032865    4.29
50202    44390.0  1.010123 -0.326591  ...  0.077312  0.018601   16.53
133243   80304.0  1.255958  0.323309  ... -0.025884  0.029902    1.79
131686   79698.0 -0.889235  0.245402  ... -0.185728 -0.034928   49.90
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [26]:
print(Y)

264152    0
254765    0
50202     0
133243    0
131686    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [27]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

test_size=0.2
This means 20% of the data will go into the test set, and the remaining 80% will be used for training
Example:
If you have 100 data points:

80 will go into training (X_train, Y_train)

20 will go into testing (X_test, Y_test)

----------------------------
random_state=2
This sets a seed for the random number generator.

It ensures that the split is reproducible  youll get the same train-test split every time you run the code.

Different values (e.g., random_state=42, random_state=1) will give different splits, but using a fixed number ensures consistent results.

-------
Ye classification problems mein bahut important hota hai, jab classes imbalanced hoti hain.

Jaise agar aapke labels mein:

60% class 0

40% class 1 hai

To stratify=Y ensure karega ki:

Training aur testing dono mein bhi approx 60% class 0 aur 40% class 1 hi ho.

Agar stratify=Y nahi doge, to ho sakta hai test ya train set mein sirf ek hi class zyada ho jaye  jiski wajah se model galat training le sakta hai.

In [28]:
print(X.shape,X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

MODEL TAINING

LOGISTIC REGRESSION

In [33]:
model=LogisticRegression()

In [35]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [36]:
print('Accuracy on Training data : ',training_data_accuracy)

Accuracy on Training data :  0.9453621346886912